@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
:root {
    --primary-color: #5c48ee;
    --primary-color-dark: #0f1e6a;
    --secondary-color: #f9fafe;
    --text-color: #333333;
    --white: #ffffff;
    --max-width: 1200px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
}
body{
    background: black
}

section{
    width: 100%;
}

.container{
    height: 90vh;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 50px;
    margin: 10px;
}

h1{
    color: var(--white);
    font-size: 280%;
    position: relative;
    /*width: max-content;*/
}
h1::after{
    content: "";
    width: 100%;
    background: #ffffff;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
}

h2{
    color: var(--white);
    font-size: 180%;
}
label{
    color: var(--white);
    font-size: 120%;
}

.container .input-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*border: 1px solid #ffffff;*/
    width: 100%;
    gap: 10px;
    height: 100%;
    padding: 2px;
}

form{
    gap: 5px;
}

input{
    height: 6vh;
    width: 100%;
    border: none;
    border-bottom: 2px solid #f9fafe;
    background: none;
    color: #ffffff;
    font-size: 110%;
}

input[type = email]:focus{
    border-color: var(--white);
    outline: none;
}

input:active{
    border: none;
}

.login-btn{
    width: 100%;
    height: 6vh;
    cursor: pointer;
    background: #f9fafe;
    border: none;
    border-radius: 8px;
    color: black;
    font-weight: 700;
    font-size: 15px;
    transition: background-color 0.3s, transform 0.3s ease-in-out;
}

.login-btn:hover {
    background-color: var(--primary-color);
    transform: translateY(-2px);
    color: var(--white);
}

footer{
    /*width: 100%;*/
    height: 6vh;
    justify-content: center;
    display: flex;
}

h3{
    font-size: 100%;
    color: var(--white);
    text-align: center;
    font-weight: 500;
}
h3::after{
    content: "";
    width: 100%;
    background: #ffffff;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
}

/*Contacte*/

header{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.contact{
    width: 95%;
    height: 65vh;
    padding: 10px;
    display: flex;


}
.contact h2{
    text-align: center;
}
.contact .card{
    /*border: 1px solid #cfcfcf;*/
    width: 50%;
    height: 65vh;
    padding: 10px;
}
.contact .card ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    list-style: none;
    margin-top: 30px;
    padding: 30px;
    gap: 15px;
    color: var(--white);
}
.contact .card ul i{
    color: var(--white);
    font-size: 20px;
    margin-right: 10px;
    
}

@media (max-width: 767px){
    .contact{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contact .card{
        width: 100%;
        height: 20vh;
    }
}